[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[dependencies]
aarch64-cpu = "11.2.0"
tock-registers = "0.10.1"

[[bin]]
name = "kernel"
path = "src/main.rs"
test = false
doctest = false
bench = false
