[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[dependencies]
cortex-a = "8.1.1"
tock-registers = "0.10.1"

[[bin]]
name = "kernel"
path = "src/main.rs"
test = false
doctest = false
bench = false
