[build]
target = "aarch64-unknown-none"

[target.aarch64-unknown-none]
rustflags = [
    "-C", "link-arg=-Tlinker.ld",
    #"-C", "link-arg=-nostartfiles",
    #"-C", "force-unwind-tables=no",
    #"-C", "link-arg=--no-eh-frame-hdr",
]